body {
	margin:0px;
}

header{
	background: black;
	height: 76px;
	margin:0;
	padding:1px;
	color: white;
}

#invertHead {
	background: white;
	height: 76px;
	margin:0;
	padding:1px;
	color: white;
}

#links {
	background: gray;
	height: 40px;
	margin: 0;
	padding: 1px;
	text-align: right;
	
}

#invertLinks {
	background: gray;
	height: 40px;
	margin: 0;
	padding: 1px;
	text-align: right;
}

ul {
	display: inline;
	vertical-align: middle;
	text-align: center;
	padding: 1px 10px;
}

li {
	display: inline;
	padding: 1px 10px;
	font-size: 30px;
}

a {
	color: white;
}

.gold {
	color: gold;
}

a:link {
	color: white;
	text-decoration: none;
}

a:hover {
	color: red;
}

#home {
	height:640px;

	margin:0;
	padding:1px;
	background: url(./img/homepage.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#aboutPic {
	height: 500px;
	margin:0;
	padding: 1px;
	background: url(./img/joshWork.jpg) no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#about {
	height: 400px;
	background: #0066CC;
	margin:0;
	padding:1px;
	color:white;
	text-align: center;
	font-family: "Open Sans", sans-serif;
	/*font-variant: small-caps;*/
}

footer {
	background: #333333;
	height: 30px;
	margin: 0;
	padding:1px;
}